.delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 350px;
    margin: 0 auto;
    margin-top: 105px;
    padding: 30px 30px

  }


  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
  }

  .yes-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 4px 2px 1px #000000;
    width: 350px;
    height: 40px;
    margin-bottom: 5px;

  }

  .no-button {
    background-color: #666666;
    color: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 4px 2px 1px #000000;
    width: 350px;
    height: 40px;
    margin-top: 5px;
  }
