
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
}


.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 325px;
  margin: 0 auto;
  margin-top: 105px;
  padding: 20px 30px
}

.form-container-div {
  width: 325px;
}


label {
  text-align: left;
}


.login-button-div button {
  width: 306px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.enabled-button {
  background-color: #FF5A5F;
  color: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 4px 4px 1px #000000;
  width: 300px;
  height: 40px;
  margin-bottom: 5px;
}


.disabled-button {
  background-color: #FFFFFF;
  color: #828090;
  border: 1px solid #000000;
  box-shadow: 4px 4px 1px #80808B;
  width: 300px;
  height: 40px;
  margin-top: 5px;
}
