.create-spot-component-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 700px;
}

.spot-location-div,
.spot-description-div,
.spot-title-div,
.spot-price-div,
.spot-images-div,
.submit-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errors-div {
    color: #FF5A5F;
}

.spot-description-div textarea {
    max-width: 308px;
    min-width: 308px;
    max-height: 100px;
    min-height: 100px;
}


.enable-submit-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 4px 4px 1px #000000;
    margin-bottom: 5px;
  }


  .disable-submit-button {
    background-color: #FFFFFF;
    color: #828090;
    border: 1px solid #000000;
    box-shadow: 4px 4px 1px #80808B;
    margin-top: 5px;
  }
