.create-spot-component-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 700px;
}

.spot-location-div,
.spot-description-div,
.spot-title-div,
.spot-price-div,
.spot-images-div,
.submit-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errors-div {
    color: #FF5A5F;
}

.spot-description-div textarea {
    max-width: 308px;
    min-width: 308px;
    max-height: 100px;
    min-height: 100px;
}


/* .enabled-button {
    background-color: #FF5A5F;
    box-shadow: 0px 2px 4px #000000;
    width: 300px;
    height: 40px;
}

.disabled-button {
    background-color: #FFFFFF;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px #CCCCCC;
    width: 300px;
    height: 40px;

}  */
