.spots-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.spot-card {
    width: 300px;
    margin: 0 10px;
    margin-bottom: 30px;
}

.spot-card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;

}

.spot-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-size: 14px;
}

.rating-info {
    text-align: end;
}

span {
    font-weight: 500;
}

/***************************/

.spot-card img:hover {
    cursor: pointer;
}

.hidden-mgmt {
    display: none
}

.show-mgmt button{

    border: 1px solid #000000;
    box-shadow: 2px 2px 4px #000000;
    background-color: #999999;
    color: #FFFFFF;
    margin-right: 10px
    /* width: 300px;
    height: 40px; */
}









/* .spots {
    border: 2px solid red;
} */
/*
.spots img {
    width: 400px;
    height: 400px;
}

.spots img:hover {
    cursor: pointer;
}

.spot-info-div {
    display: flex;
    justify-content: space-between;
} */
