.spots-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.spot-card {
    width: 300px;
    margin: 0 10px;
    margin-bottom: 30px;
    place-self: center;

}

.spot-card img {
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.spot-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25%;
    font-size: 14px;
}

.rating-info {
    text-align: end;
    grid-area: 1/ 2/ 2/ 3
}

span {
    font-weight: 500;
}

/***************************/

.spots-container:hover {
    cursor: pointer;
}













/* .spots {
    border: 2px solid red;
} */
/*
.spots img {
    width: 400px;
    height: 400px;
}

.spots img:hover {
    cursor: pointer;
}

.spot-info-div {
    display: flex;
    justify-content: space-between;
} */
