h1 {
    margin: 5px 0;
    font-weight: 500;
}

/* .header-div {
    margin-bottom: 30px;
} */


.mgmt-spots-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.spot-card:hover {
   cursor: pointer;
}


.show-mgmt button{

    border: 1px solid #000000;
    box-shadow: 2px 2px 4px #000000;
    background-color: #666666;
    color: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 50px;
    /* width: 300px;
    height: 40px; */
}

.show-mgmt button:hover {
    cursor: pointer;
}



.hide-create {
    display: none
}


.show-create {
    border: 1px solid #000000;
    box-shadow: 2px 2px 4px #000000;
    background-color: #666666;
    color: #FFFFFF;
}

.show-create:hover {
    cursor: pointer;
}
