.spot-container {
    margin: 0 50px
}


.spot-header h2 {
    font-weight: 400;
    font-size:  1rem;
}


.imgs-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}


.preview-img-div {
    width: 100vw;
}


.preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-right: 10px;
}


.additional-imgs-div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    gap: 2px
}


.additional-imgs {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 280px;
}


.spot-info-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 300px;
}


.spot-description h2 {
    font-weight: 400;
}


.spot-info-box {
    border: 3px solid black;
    border-radius: 10px;
    height: 125px;
    width: 350px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 20px;
}



.reserve-button {
    grid-column: 1/ span 2;
    height: 40px;
    margin: 0 25px;
    border: 2px solid #000000;
    background-color: #FF5A5F;
    box-shadow: 2px 2px 0px #000000;
    color: #FFFFFF
}


.reviews li {
    list-style: none;
    padding-bottom: 5px;
}


.hide-buttons {
    display: none;
}


.show-button button {
    border: 2px solid #000000;
    box-shadow: 2px 2px 0px #000000;
    background-color: #999999;
    color: #FFFFFF;
    margin-left: 5px;
}
