.form-container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border-radius: 10px;
    border-color: rgb(221,221,221)
}

.form-div {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-div {
    width: 500px;
    text-align: center;
    font-size: 12px;

}

.login-button-div {
    display: flex;
    justify-content: center;
}

.errors-div {
    color: red;
    display: flex;
    justify-content: center;
}
