
 /* .overlay {
    position: fixed;
    inset: 0;
    background: 0, 0, 0, 0.5;
    z-index: 9;
    width: 500px;
} */

.login-modal-container {
  display: flex;
  justify-content: center;
}

.login-modal{
    border: 1px solid #000000;
    border-radius: 30px;
    width: 500px;
}

#add-overlay {
  background-color: rgba(0,0,0,0.4);
}
