.hidden {
    display: none;
}

.home:hover, .user-options-button:hover {
    cursor: pointer;
}

.nav-links-div {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 70px;
    padding: 0 20px;
    list-style: none;
    border-bottom: 2px solid lightgrey;
    font-size: 1.17rem;
}

.user-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}




.nav-links-div a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.17rem;
    color: black
}


.profile-dropdown {
    list-style: none;
    border: 1px solid #000000;
    box-shadow: 0px 2px 4px #000000;
    background-color: #FFFFFF;
    position: fixed;
    top: 68px;
    right: 28px;

    padding: 10px 20px;
}

.profile-dropdown li {
    font-size: 14pt;
    padding: 2px 0px
}



.logout-button {
    border-radius: 50px;
    background-color: #999999;
    color: #FFFFFF;
    margin-top:20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px

}
